h1 {
	font-family: "Playwrite GB S", cursive;
    font-weight: <weight>;
    font-style: normal;
	color: RebeccaPurple;

}
h2 {
	 font-family: "Arima", system-ui;
	 font-weight: <weight>;
	 font-style: normal;
	 color: dimgray;
}
p {
	font-family: Constantia, "Lucida Bright", "DeyaVu Serif", Georgia, "Serif";
	color: DarkSlateGray;
	font-size: 16px;
	line-height: 18px;
    width: 600px;
    background-color: WhiteSmoke;
    padding: 30px;
}
.pozadina {
	background-image: url("https://img.freepik.com/free-photo/grungy-gray-marble-textured-background_53876-108405.jpg?size=626&ext=jpg&ga=GA1.1.2113030492.1729382400&semt=ais_hybrid")
}